In [1]:
#set operations
#union
s1={1,2,3,4,5}
s2={6,7,8,9,10}
s3=s1|s2
#or we can also use of
s4=s1.union(s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
#intersect
s1={1,2,3,4,5}
s2={5,2,6,7,1}
s3=s1&s2
#or
s4=s1.intersection(s2)
print(s3)
print(s4)

{1, 2, 5}
{1, 2, 5}

In [14]:
#diffrence
s1={1,2,3,4,5,8,11,92,73}
s2={14,15,3,5,6,7,9,10,22,86}
s3=s1-s2
print(s3)
#or
s4=s2-s1
print(s4)

#symmetric diffrence
s5=s1^s2
print(s5)

{1, 2, 4, 8, 73, 11, 92}
{6, 7, 9, 10, 14, 15, 22, 86}
{1, 2, 4, 6, 7, 8, 9, 10, 73, 11, 14, 15, 22, 86, 92}

In [18]:
#if set is subset of another set
s1={99,6,85,29,2,55,25}
s2={85,55,25}
print(s2.issubset(s1))        #true
print(s2<s1)                  #true

#if set is superset of another set
print(s1.issuperset(s2))       #true
print(s1>s2)                   #true

True
True
True
True

In [22]:
#disjoin set = if both sets arehaving diffrent element without a single common element
s1={10,23,45,76,99}
s2={15,33,66}
print(s1.isdisjoint(s2))    #true

s1={10,23,45,76,89}
s1.add('python')
print(s1)

s1.pop()
print(s1)

s1.remove(76)
print(s1)

True
{'python', 10, 76, 45, 23, 89}
{10, 76, 45, 23, 89}
{10, 45, 23, 89}

In [24]:
#set comprhension
even_set=set()
for i in range(1,51):
    if i%2==0:
        even_set.add(i)
        print(even_set)
        
#or
even={i for i in range(1,51) if i%2==0}
print(even)

{2}
{2, 4}
{2, 4, 6}
{8, 2, 4, 6}
{2, 4, 6, 8, 10}
{2, 4, 6, 8, 10, 12}
{2, 4, 6, 8, 10, 12, 14}
{2, 4, 6, 8, 10, 12, 14, 16}
{2, 4, 6, 8, 10, 12, 14, 16, 18}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30}
{32, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30}
{32, 2, 34, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30}
{32, 2, 34, 4, 36, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50}

In [ ]:
#diffrences between inbuilt datastructres
# list
#  list it is a collection of homogeneous as well heterogeneous data and it is shown in [] square bracket
#  indivisual element of a list can be accesed by using index of operator '[]'
#  both positive and negative index will be used to access indivisual element
# list can be used for any types of object from numbers and strings
#  list are simple to use and they are variable length, i.e they grow and shrink automatically as they're used.
# ex : lst=[10,20,30,43,50]
#       lst=[1,2,[4,5],(5,6),{7,8},{1:10,2:20}]

#tuples
#  tuple is an orderd collection of both homogeneous and heterogeneous data it is shown in '()' round bracket
#  elements will be accessed by slicing
#  tuple is immutable in nature hence we can not make addition, removal nd modification of element, 
#  in general tuple is immutable list hence length is fixed
# ex : tup=([1,2],(3,2),{5,6},{'a':100,'b':200})
#       tup=(1,2,3,4,5)        
        
#sets
# set are the collection of unorderded collection of data.it is shown in curly bracket '{}'
# set doesnot allow duplicates means only unique values are stored inside a set
# mutable data cannot be storedin a set(list,set,dictionary)
# set operations such as union,intersection,diffrence,can be applied on a set
# ex  : set={11,25,33,45,54,6}
#        set1={11,25.2,,'zoom',true,5i+6j}

#dictionary
#  dictionaries are made up of key-value pair
#  prperties of keys & values
#  *key is used to identify the item
#    it must be unique & simple
#    key must be immutable object
#    values holds as the name suggests, the value of the item
#    value can be anything(both mutable and immutable)
#  ex  :dict={1:10,2:10,3:true,4:5+6j,6:[10,20],7:{1:'a'}}